    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="new-session-btn hover border" onclick="newSession('logo')">
            <img class='img-width-20'
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABaklEQVRIS+2W0W3CMBCGzxYPPGJVEPHWbtANygZtNygb0AlKNmCDskHpBF2hI/CGAqrsZ4SSnlGNnMg5UjsOL+TFSuK7z777zz4GF3rYhbhwFiylHMB+P8kB7n0XyRlbi9FoaduT4CP0cPhCA2+oBVNiOBTmnQZvty/A2LvvTh12rwhf6O9nQx0ClVn2BJzrhQ+0nzzP05skmUcHa4Dc7SY46HTVg2MJCeFFLTimkGhwRCGR4J8sm3PO30LEZNvaQrqCS+V0DXWoyFzigqKYmsvidGR2EGoFvd6dEEJ1meMZQpcG2hnYlbZOQk2C/66wj1BRnewtIdHglrsNW0gk2PzEc3WGpXC8uPHsfsBB36fV5xvnfLocoo1Wb0lIjcD2pJoSW6Dj1FaoT3rI1qcC1vWXmp7JB2bbNAUr7FumIklWoUBj3wT8iC3usxiP121BSweIy6ncbG6h31eh+fy3uNrcYdVX1L6aWvgvmSwXLkbWqz8AAAAASUVORK5CYII=" />
            <div class="space">
                <span>New Chat</span>
                <img class='img-width-20'
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABpUlEQVRIS+2Xy3HCMBCGZY+5owMw3JwOKCGUkA5CB3EFSQehhHSQdAAdxB2QG8MjI98RKLu2BZJtCT/Hl+yMZ2Cw9tPuvystDunJnJ64pFMwOxwe6Wi0LgquEMwYG5LTySeOMyyVEc8LKaWR+i5C4fsnPCHA51k/OTAseIGXXuEpByVkCY4DA1T6WGfhGjiOlPNNEyhugB2PGyKEn4lSg+vgJD2rdAFGEdpSbdKPbbc+8bzvTAAoxZNcYwPPTY6LNpNqOoM1yzhqHR6Ry2VBJ5MvubYVsFJIqGmgwQeDFTmfAxWK8MbgDFQGdIWbpGoENkATlhALOh5/tA62QgnJaWrt49SZrGpjcTWF1tK4DpTt98/YmpD6a3tW0rg21HHe1R6uFHEt6O28xjbTpCsdMYBZ5iSS9WIsJFvNVAGLgtawVm9X4Lst0wX4LjQ+r/VLp57GtlvK9Ns/WL1myw8CQkSlZ7Bb7mfwEQ8PNIvGyeiD/dq+cf5Ap9Mf6Tg37P3udm+u6+Kw16blBkLzeMs5pqm5gUTq5WCMuDmpnIdO/0nYttAb+A9Ly0MuzjP0HwAAAABJRU5ErkJggg==" />
            </div>
        </a>
        <div class="chat-topics border" id="topics">
        </div>
        <div class="account-info border">
            <div class="user-acc hover">
                <img class="avatar" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/user--v1.png" alt="user" />
                <span id="user-name"></span>
            </div>
            <div class = "hover border" id="Logout" onclick="logout()">
                <span>Logout</span>
                <img class = "img-width-20" src="https://img.icons8.com/ios/FF0000/exit--v1.png" alt="exit--v1"/>
            </div>
        </div>
    </div>