<div class="new-chat border" id='logo'>
    <!-- <img src="https://freepnglogo.com/images/all_img/1700403115chatgpt-logo-transparent.png" alt="logo"> -->
    <img src="http://localhost:3000/static/images/Frame_1321316226.png" alt="logo">
    <h2>How can I help you today?</h2>
</div>